<table border=1 style="border : 1px solid black">
  <tr>
    <% widget.data_points.each do |data_point| %>
      <th><%= data_point.label %></th>
    <% end %>
  </tr>
  <tr>
    <% widget.data_points.each do |data_point| %>
      <td><%= data_point.value %></td>
    <% end %>
  </tr>
</table>
