<table border=1 style="border : 1px solid black">
  <tr>
    <% widget.labels.each do |label| %>
      <th><%= label %></th>
    <% end %>
  </tr>
  <tr>
    <% widget.data.each do |data_point| %>
      <td><%= data_point %></td>
    <% end %>
  </tr>
</table>
