<table style="border:1px solid black" border=1>
  <tr>
    <% widget.columns.each do |column| %>
      <th><%= column.heading %></th>
    <% end %>
  </tr>
  <% widget.data.each do |data| %>
    <tr>
      <% widget.columns.each do |column| %>
        <td>
          <%= column.get_cell(data) %>
        </td>

      <% end %>
    </tr>
  <% end %>
</table>
