<h1>Profile</h1>
<% if @file_provider.exists?('profile_image', @user.id) %>
  <img src='<%=@file_provider.retrieve_path('profile_image', @user.id)%>' height="200" width="200" />
<% else %>
  No image available
<% end %>
<form action='profile/upload' method='post' enctype='multipart/form-data'>
  <input type='file' name='file'>
  <input type='submit' value='Upload image'>
</form>
