<div class="quiz">
  <form method = "post">
    <% @questions.each do |question| %>
      <div><%= question['question'] %></div>
      <select name="question[]">
        <% question['answers'].each do |answer| %>
          <option value="<%= answer['correct'] %>"><%= answer['answer'] %></option>
        <% end %>
      </select>
    <% end %> 
    <p><input type="submit" value="Submit" /></p>
  </form>
</div>
